<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body> <!--column-->
    <div class="topbar"> <!--row positon fixed at top as absolute-->
      <img class="logo" src="" alt=""> <!--pos beggining-->
      <ol class="navbar"> <!-- pos end, then resize for small phones -->
        <li>Home</li>
        <li>About</li>
        <li>Projects</li>
        <li>Cerificates</li>
        <li>Hire Me</li>
      </ol>
    </div>
    <div class="home"> <!--row, pos start-->
      <h2>Hello <span class="wave">👋</span></h2>
      <h1>I'm <span class="animatedName">Sachin Kharabanda!</span></h1>
      <h1 class="infoTyper"> <!--some jq code--> </h1>
    </div>
    <div class="about"> <!--column, centre-->
      <img class="pfp" src="" alt="">
      <div class="aboutText"> <!--row-->
        <h1 class="sectionTitle">About Me</h1>
        <p class="description"> </p>
      </div>
    </div>
    <div class="projects"> <!--column-->
      <h1 class="sectionTitle">Projects</h1>
      <p class="description"> </p>
      <div class="projectContainer"> <!--row-->
        <!--each project has its own div-->
      </div>
    </div>
    <div class="certificates"> <!--column-->
      <h1 class="sectionTitle">Certificates</h1>
      <p class="description"> </p>
      <div class="imgCarosel">

      </div>
    </div>
    <div class="hire">
      <!--express nodemail form-->
    </div>
  </body>
</html>